aniso8601==10.0.1
blinker==1.9.0
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6 #platform_system == "Windows"
dotenv==0.9.9
flask-cors==6.0.1
flask-restful==0.3.10
flask==3.1.1
gpxpy==1.6.2
idna==3.10
itsdangerous==2.2.0
jinja2==3.1.6
markupsafe==3.0.2
python-dotenv==1.1.1
pytz==2025.2
requests==2.32.4
six==1.17.0
urllib3==2.5.0
werkzeug==3.1.3
