/* Navbar 基本樣式 */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1000;
    /* 確保 Navbar 位於最上層 */
    background-color: transparent;
    /* 初始透明背景 */
    color: white;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    /* 背景顏色變化過渡 */
}

.navbar.scrolled {
    background-color: #00796b;
    /* 滾動後的背景顏色 */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    /* 確保容器寬度不超出頁面 */
    padding: 0 50px 0 10px;
    /* 增加左右內邊距，防止內容超出 */
    box-sizing: border-box;
    /* 包含內邊距和邊框在寬度計算內 */
}

.navbar-logo a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-left: 0;
    margin-right: auto;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.navbar-links a:hover {
    text-decoration: underline;
}

/* 響應式設計 */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 15px;
    margin-right: auto;
}

.menu-icon {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 60px;
        left: 20px;
        /* 調整為靠左對齊 */
        background-color: #00796b;
        padding: 10px;
        border-radius: 8px;
    }

    .navbar-links.open {
        display: flex;
    }
}

.login-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: auto;
    /* 確保按鈕在右邊 */
    box-shadow: none;
}

.login-icon {
    background: none;
    width: 30px;
    height: 30px;
    box-shadow: none;
}

.navbar-login-button {
    background: none;
    box-shadow: none;
    border: none;
    margin-top: 5px;
    cursor: pointer;
}